<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
      <style>
            {#asset Item-list-styles.css @encoding=utf8}
      </style>
    <title>Informe de proveedores</title>
    </head>


    <div class="user-report">
        <div class="columns">
            <div class="column is-2">
                <img class="image"src="{#asset Item-Tecno-Logo.png @encoding=dataURI}" style="width:200%; max-width:300px;" "display: block" />
            </div>
            <div class="column info is-8">
                <p class="block1"><b>TECNO MONTAJES</b></p>
                <p class="block"><b>LISTADO DE ARTICULOS</b></p>
            </div>
            <div class="column info is-2"></div>
        </div>
    
        <body>
            <table class="table is-bordered is-fullwidth">
                <thead>
               <tr class="text">
                         <td>
                            no.
                        </td>
                        <td>
                            clasificacion
                        </td>
                        <td>
                            departamento
                        </td>
                        <td>
                            id
                        </td>
                        <td>
                            descripcion / caracteristicas
                        </td>
                        <td>
                            unidad
                        </td>
                        <td>
                            precio
                        </td>
                    </tr>
                </thead>
                <tbody>
                 {{#each items}}
                    <tr>
                        <td>{{no}}</td>
                        <td>{{clasification}}</td>
                        <td>{{departament}}</td>
                        <td>{{id}}</td>
                        <td>{{description}}</td>
                        <td>{{Unit}}</td>
                        <td>{{price}}</td>
                    </tr>
                 {{/each}}
                </tbody>
              
            </table>
        </body>
    </div>
</html>