<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
      <style>
            {#asset  Supplier-Report-styles.css @encoding=utf8}
      </style>
    <title>Informe de proveedores</title>
    </head>

    <div class="user-report">
        <div class="columns">
            <div class="column is-2">
               <img class="image"src="{#asset User-Tecno-Logo.png @encoding=dataURI}"  style="width:200%; max-width:300px;" />
            </div>
            <div class="column info is-8">
                <p class="block1"><b>TECNO MONTAJES</b></p>
                <p class="block"><b>INFORME DE PROVEEDORES</b></p>
            </div>
            <div class="column info is-2"></div>
        </div>

  <body>
        <table class="table is-bordered is-fullwidth">
                <thead>
                        <tr class="text">
                            <td>
                                no.
                            </td>
                            <td>
                                razon socila
                            </td>
                            <td>
                                nombre corto
                            </td>
                            <td>
                                rfc
                            </td>
                            <td>
                                clasificacion
                            </td>
                            <td>
                                forma de pago
                            </td>
                            <td colspan="2">
                                d. credito
                            </td>
                        </tr>
                </thead>
                        <tbody>
                            {{#each data}}
                        <tr>
                            <td>{{no}}</td>
                            <td>{{businessname}}</td>
                            <td>{{shortname}}</td>
                            <td>{{rfc}}</td>
                            <td>{{clasification}}</td>
                            <td>{{waytopay}}</td>
                            <td colspan="2">{{creditdays}}</td>
                        </tr>
                          {{/each}}
                        </tbody>
                <thead>
                          <tr class="text">
                            <td>
                                moneda
                            </td>
                            <td>
                                banco
                            </td>
                            <td>
                                cuenta
                            </td>
                            <td>
                                clabe
                            </td>
                            <td>
                                direccion
                            </td>
                            <td>
                                sucursal
                            </td>
                            
                            <td>
                               calificacion 
                            </td>
                            <td>
                                estatus
                            </td>
                        </tr>
                </thead>
                <tbody>
                    {{#each data}}
                        <tr>
                            <td>{{coin}}</td>
                            <td>{{bank}}</td>
                            <td>{{account}}</td>
                            <td>{{clabe}}</td>
                            <td>{{direction}}</td>
                            <td>{{branchoffice}}</td>
                            <td>{{qualification}}</td>
                            <td class="status">{{status}}</td>
                           
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </body>

    </div>
</html>