<html>
    <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://github.com/jgthms/bulma/tree/master/css">
      <style>
            {#asset data-styled.css @encoding=utf8}
        </style>
    <title>Prueba</title>
</head>
<body>

<div class="data-box">
<img src="{#asset Header.png @encoding=dataURI}" style="width:100%; max-width:200px;" />

<h1>TECNO MONTAJES</h1>
<h2>LISTADO DE ARTICULOS</h2>

<table class="data-sample">
<tr class="text">
    <td>
        <p>NO.</p>
    </td>
     <td>
        <p>ARTICULO</p>
    </td>
    <td>
        <p>DESCRIPCION DEL ARTICULO</p>
    </td>
    <td>
        <p>P.U.</p>
    </td>
    <td>
        <p>TIPO</p>
    </td>
</tr>
<tr>
    <td><p>{{article.no}}</p></td>
    <td><p>{{article.article}}</p></td>
    <td><p>{{article.description}}</p></td>
    <td><p>{{article.price}}</p></td>
    <td><p>{{article.tipo}}</p></td>
</tr>
<tr>
    <td><p>{{article2.no}}</p></td>
    <td><p>{{article2.article}}</p></td>
    <td><p>{{article2.description}}</p></td>
    <td><p>{{article2.price}}</p></td>
    <td><p>{{article2.tipo}}</p></td>
</tr>

<tr>
    <td><p>{{article3.no}}</p></td>
    <td><p>{{article3.article}}</p></td>
    <td><p>{{article3.description}}</p></td>
    <td><p>{{article3.price}}</p></td>
    <td><p>{{article3.tipo}}</p></td>
</tr>

</table>

</div>

</body>



</html>